@import "../../../assets/sass/now-ui-kit/_variables.scss";
.beta {
    top: 11px !important;
    font-size: 10px !important;
    position: absolute !important;
}

.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item):not(.btn) {    
    color: $foreground;
}

@media(max-width:992px){
    .beta {
        top: 0px !important;
    }
}