<app-navbar></app-navbar>
<router-outlet></router-outlet>
<cookie-law position="bottom" name="CalendarlyCookieLaw" (isSeen)="cookieLawSeen = $event">
    In order to facilitate your browsing on our site and understand how you use it, we and our partners place cookies on it. By continuing your visit to our site, you accept these cookies on your computer. For more information on the management of cookies, 
    <a href="https://www.calendar.ly/cookie-policy" target="_blank">click here</a>.
</cookie-law>
