<footer class="footer ">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/','about-us']">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://blog.calendar.ly">
                        Blog
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/','privacy']">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/','cookie']">
                        Cookie Policy
                    </a>
                </li>
                <li>
                        <a [routerLink]="['/','contact']">
                            Contact Us
                        </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            2015-2018, Calendar.ly - Made with
            <i class="now-ui-icons ui-2_favourite-28" style="color:#4fA485;"></i> for Content Creators like you.
        </div>
    </div>
</footer>