<div class="wrapper">
    
    <div class="page-header page-header-small">
        <div class="page-header-image" data-rellax-speed="-8" style="background-image:  url('assets/img/bg-top-sign-up4.jpg');">
        </div>
        <div class="row" style="margin-top: 65px;">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">The team behind <span class="calendarly">Calendar.ly</span></h1>
                    <h4 class="description">We are a very small team. Calendar.ly is a really young app. We've been working on it for a year and we are almost ready to launch our Closed Beta.</h4>
                </div>
            </div>
    </div>

  <div class="cd-section" id="teams">
      <!--     *********    END TEAM 1      *********      -->
      <div class="about-description text-center">
        <div class="features-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">What we are</h2>
                        <h3 class="description">We put together Content Calendar and project management in the cloud. Both tools will give you the structure to improve the creative and approval processes that lead to great content creation.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info info-hover">
                            <div class="icon icon-success icon-circle">
                                <i class="now-ui-icons objects_globe"></i>
                            </div>
                            <h4 class="info-title">Create</h4>
                            <p class="description">Brief your team on a specific content piece for your next campaign.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info info-hover">
                            <div class="icon icon-success icon-circle">
                                <i class="now-ui-icons education_atom"></i>
                            </div>
                            <h4 class="info-title">Provive feedback on the spot</h4>
                            <p class="description">Stakeholders have access to the latest feedbacks at the same time as your team. Everyone is on the same page.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info info-hover">
                            <div class="icon icon-success icon-circle">
                                <i class="now-ui-icons tech_watch-time"></i>
                            </div>
                            <h4 class="info-title">Get ready for publishing</h4>
                            <p class="description">Approve your social and blog posts in time! Never lose the big picture.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-description text-center">
      <div class="features-3">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <h2 class="title">What we are not</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <div class="info info-hover">
                          <div class="icon icon-danger icon-circle">
                              <i class="now-ui-icons objects_globe"></i>
                          </div>
                          <h4 class="info-title">Research & Social Listening</h4>
                          <p class="description">We are not a social listening tool to help you research on buzz around a specific topic so you can understand what your audience point of view is.</p>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="info info-hover">
                          <div class="icon icon-success icon-circle">
                                <img src="assets/img/nav-logo-color.png" style="width:42px; margin-top:20px;" class="img-responsive">
                          </div>
                          <h4 class="info-title"><span class="calendarly"> Briefing & Calendar.ly</span></h4>
                          <p class="description">This is where Calendar.ly helps you! No more content calendar templates that get outdated. Brief your team using Calendar.ly and stay always up-to-date birdseye view of your content creation efforts so you can publish on time.</p>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="info info-hover">
                          <div class="icon icon-danger icon-circle">
                              <i class="now-ui-icons tech_watch-time"></i>
                          </div>
                          <h4 class="info-title">Publishing & Monitoring</h4>
                          <p class="description">Post your approved content into your social media profiles using your prefered scheduling tools or directly into each social profile.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <div class="header-2">
    <div class="page-header">
        <div class="page-header-image" style="background-image: url('assets/img/bg-footer-about-us.jpg');"></div>
        <div class="content-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center title-footer">Exclusive early adopter BETA invite</h2>
                        <!-- {{form2 | json}} -->
                    </div>
                    <div class="col-md-6 mr-auto ml-auto">                     
                            <div class="row">
                                <div class="col-md-12 ml-auto mr-auto text-center">
                                    <!-- [disabled]="!(form2.FNAME&&form2.EMAIL&&form2.MMERGE2&&form2.PRIVACYPOL)" -->
                                    <a [routerLink]="['/']" class="btn btn-primary btn-lg col-md-12">
                                                BETA SIGNUP
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <app-footer></app-footer>
</div>